<h1>Admin Dashboard</h1>

<div class="list-group">
  <a href="/admin/products" class="list-group-item">
    Products
    <span class="badge"><%= @product_count %></span>
  </a>
  <a href="/" class="list-group-item">
    Categories
    <span class="badge"><%= @category_count %></span>
  </a>
</div>